@import "~scss/variables.scss";

.has-dapp-credit-header {
  .dapp-profile {
    padding-top: $credit-header-height;
  }
}

.profile-card {
  width: 100%;
  border-radius: 0;
  padding: 16px;

  .string-code {
    //magic number
    font-size: 3.6vw;
    text-align: center;
    margin: 10px 5px;
  }

  .actions {
    width: 100%;
  }

  .share-actions {
    button {
      font-size: $font-size-xl;
      margin: 10px 20px;
    }
  }

  .send-cash-action {
    margin-top: 15px;

    button {
      font-size: $font-size-xl;
      width: 100%;
      padding: 10px 30px;
      min-height: 56px;
      margin-bottom: 25px;
    }
  }

  .recent-users {
    margin: 10px 0px 0px;

    .item-wrapper {
      width: 100%;
      .alias-wrapper {
        width: 50%;
      }
      .actions-wrapper {
        .icon-users {
          margin: 0px 5px;
        }
      }
    }
  }
}

:host ::ng-deep div.mat-expansion-panel-body {
  padding: 0 7px 5px !important;
}

:host ::ng-deep button.mat-flat-button {
  width: 100% !important;
  margin-bottom: 10px !important;
}
