<div fxFlex class='has-dapp-credit-header'>
    <div class='dapp-profile' fxFlex>
        <div class='profile-card' fxLayout='column' fxLayoutAlign='start center'>
            <qrcode *ngIf='userAddress' qrdata='{{prefixDapp + userAddress}}' [size]='180' [level]='"Q"'></qrcode>
            <div class='string-code'>{{ userAddress }}</div>
            <div class='actions'>
                <div class='share-actions' fxLayout='column' fxLayoutAlign='center center'>
                    <div class='share-buttons' fxLayout='row'>
                        <button mat-fab ngxClipboard [cbContent]='userAddress' (cbOnSuccess)='stringCodeCopy()'>
                            <mat-icon>content_copy</mat-icon>
                        </button>
                        <button mat-fab (click)='share()'>
                            <mat-icon>share</mat-icon>
                        </button>
                    </div>
                </div>
                <div class='send-cash-action' fxLayout='column' fxLayoutAlign='center center'>
                    <button [disabled]='outOfCash' mat-flat-button color='accent'
                        (click)='goToSendCash()'>{{ 'dapp.profile.send_cash' | translate | uppercase }}</button>
                </div>

                <div class='recent-users'>
                    <mat-list *ngFor="let user of (addressList$ | async); first as isFirst;">
                        <mat-divider *ngIf="isFirst"></mat-divider>
                        <mat-list-item>
                            <div class="item-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="alias-wrapper">{{ user.alias }}</div>
                                <div class="actions-wrapper" fxLayout="row" fxLayoutAlign="end center">
                                    <div class='icon-users' (click)='openDialog(user)'>
                                        <mat-icon>edit</mat-icon>
                                    </div>
                                    <div class='icon-users' (click)='onDelete(user.address)'>
                                        <mat-icon>delete</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </div>
            </div>
        </div>
    </div>
</div>