* {
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

.loading-spinner {
  background-image: url("assets/loading-spinner.svg");
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  margin: 10px auto;
}

