<div class="dialog">
    <div class="dialog-container" fxFlex fxLayout="column">         
        <button mat-icon-button (click)="exportMnemonicDialog()"  [disableRipple]="true">
            <mat-icon class="icon-big">present_to_all</mat-icon>
        </button>    
        <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">
            <div class="dialog-logo"></div>
            <div class="dialog-text" fxLayout="column" fxLayoutAlign="center center">
                <div class="title">{{ 'network_status.title' | translate }}</div>
                <div class="message">{{ 'network_status.message' | translate }}</div>        
            </div>
            <div class="network-status-image"></div>
            <div class="dialog-buttons" fxFlex fxLayout="row" fxLayoutAlign="space-between end" >
                <button style="text-transform: lowercase;" mat-raised-button  (click)="changeRpcDialog()"><mat-icon>cloud_off</mat-icon> {{ 'home.options_shell.changeRpc'| translate }}</button>
                <button style="text-transform: uppercase;" color="accent" mat-raised-button  (click)="resumeWallet()"><mat-icon>refresh</mat-icon> {{ 'home.options_shell.resumeWallet'| translate }}</button>
            </div>
        </div>
    </div>
</div>