@import "~scss/variables.scss";

:host {
  height: 100%;
}

.dialog {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
}

.dialog-container {
  height: 100%;
  width: 100%;
  padding: 16px;
 
  &> button {        
    align-self: flex-end; 
    margin-right: 16px;      
    height: 56px;
    width: 56px;
    .mat-icon { 
      font-size: 36px;
    }
  }  
}

.dialog-logo {
  height: 75px;
  width: 100%;
  background-image: url("assets/logo_bloomen_black.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;  
}

.dialog-text {
  margin: 20px;
  font-size: $font-size-l;
  text-align: center;
  .title {
    font-weight: $font_bold;
    margin-bottom: 5px;
  }
}

.network-status-image {
  height: 50vh;
  width: 100%;
  background-image: url("assets/img_no_connection.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.dialog-buttons {
  width: 100%;
}