<div class="dialog">
    <div class="dialog-container" fxFlex fxLayout="column">
        <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">
            <div class="dialog-logo"></div>
            <div class="dialog-text" fxLayout="column" fxLayoutAlign="center center">
                <div class="title">{{ 'network_status.title' | translate }}</div>
                <div class="message">{{ 'network_status.message' | translate }}</div>        
            </div>
            <div class="network-status-image"></div>
            <div class="dialog-buttons" fxFlex fxLayout="row" fxLayoutAlign="space-between end" >
                <button mat-button  (click)="changeRpcDialog()">{{ 'home.options_shell.changeRpc'| translate }}</button>
                <button mat-button  (click)="resumeWallet()">{{ 'home.options_shell.resumeWallet'| translate }}</button>
            </div>
        </div>
    </div>
</div>