<div fxFlex fxLayoutAlign="center start" fxLayout="row wrap">
    <mat-card class="card-wrapper" [routerLink]="['/videos']">
        <img mat-card-image src="assets/img_home_video.png" alt="video">
        <mat-card-content>
            <h1>Video</h1>
            <p>
                The Bloomen video streaming marketplace offers media creators the opportunity to distribute their content to consumers in pay-per-view mode and get automated compensation to all the participating stakeholders once the media asset is consumed.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card-wrapper" [routerLink]="['/mobility']">
        <img mat-card-image src="assets/img_home_mobility.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
                <h1>Mobility</h1>
            <p>
                The Bloomen Mobility Dapp offers tourists and casual city commuters with a decentralized access to city transport rental services by unblocking parked electrical vehicles with  Bloomen tokens.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card-wrapper" [routerLink]="['/smart-office']">
        <img mat-card-image src="assets/img_home_smartoffice.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
                <h1>Smart Office</h1>
            <p>
                The Bloomen Smart Office Dapp leverages on the power of IoT applied to the digital workplace. Get your Bloomen tokens to book and open lock meeting rooms, unlock the printer, get priority access to office special facilities and services…
            </p>
        </mat-card-content>
    </mat-card>
</div>