<div fxFlex fxLayoutAlign="center start" fxLayout="row wrap">
    <mat-card class="card-wrapper" [routerLink]="['/videos']">
        <img mat-card-image src="assets/img_home_video.png" alt="video">
        <mat-card-content>
            <h1>Video</h1>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card-wrapper" [routerLink]="['/mobility']">
        <img mat-card-image src="assets/img_home_mobility.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
                <h1>Mobility</h1>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card-wrapper" [routerLink]="['/smart-office']">
        <img mat-card-image src="assets/img_home_smartoffice.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
                <h1>Smart Office</h1>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
    </mat-card>
</div>