<div class="balance-wrapper" fxLayout="column" fxLayoutAlign="start">
        <div class="title">
            Balance Dashboard
        </div>
        <div class="cards">
            Total cards: 0
        </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div class="item-wrapper" fxLayout="column" fxFlex="30">
            <div class="add-balance" fxFlex fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>add_circle_outline</mat-icon>
            </div>
        </div>
        <blo-balance-item class="item-wrapper" fxFlex="30"></blo-balance-item>
    </div>
</div>