// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

/*
 * Grey palette
 */
 $mat-grey: (
  50 : #eceff1,
  100 : #cfd8dc,
  200 : #b0bec5,
  300 : #90a4ae,
  400 : #78919c,
  500 : #607d8b,
  600 : #587583,
  700 : #4e6a78,
  800 : #44606e,
  900 : #334d5b,
  A100 : #abe1ff,
  A200 : #78ceff,
  A400 : #45bcff,
  A700 : #2bb3ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
