<div class="balance-wrapper" fxLayout="column" fxLayoutAlign="start">
    <!-- allow_buy://999#91#0#MWC-VIDEO#Dapp%20handshake#My%20new%20device%20345 -->
        <div class="actions-wrapper" fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="100" class="qr-wrapper allow-qr" fxLayout="row" fxLayoutAlign="space-between">
                <div class="qr-box">
                    <qrcode [qrdata]="'allow_buy://999#91#0#MWC-VIDEO#Dapp%20handshake#'+(deviceIdentity$ | async)" [size]="150" [level]="'Q'"></qrcode>
                </div>
                <div class="action-wrapper" fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div class="action-text">Device Identity </div>
                    <div class="action-text">{{deviceIdentity$ | async}}</div>
                </div>
            </div>
          </div>
</div>