<div class="balance-wrapper" fxLayout="column" fxLayoutAlign="start">
    
        <div class="actions-wrapper" fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="100" class="qr-wrapper allow-qr" fxLayout="row" fxLayoutAlign="space-between">
                <div class="qr-box" ngxClipboard [cbContent]="qrDevice" >
                    <qrcode  [qrdata]="qrDevice" [size]="150" [level]="'Q'"></qrcode>
                </div>
                <div class="action-wrapper" fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div class="action-text">MWC-VIDEO Device Identity </div>
                    <div class="action-text">{{deviceId}}</div>
                </div>
            </div>          
          </div>
</div>