// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

/*
 * Brown palette
 */
$mat-brown: (
  50 : #efebe9,
  100 : #d7ccc8,
  200 : #bcaaa4,
  300 : #a1887f,
  400 : #8d6f63,
  500 : #795548,
  600 : #714e41,
  700 : #664438,
  800 : #5c3b30,
  900 : #492a21,
  A100 : #ffa68e,
  A200 : #ff7e5b,
  A400 : #ff5628,
  A700 : #ff420e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text
  )
);

