<div fxFlex fxFlexFill fxLayout="row wrap" fxLayoutAlign="space-around stretch">
    <div fxFlex="30" class="title-wrapper">
        <h1>Video</h1>
        <h3>BLOOMEN IS AN AUDIOVISUAL CONTENT ACQUISITION, COPYRIGHT MANAGEMENT AND SALES SOLUTION FOR B2C TV STREAMING SERVICES.</h3>
        <p>Bloomen is an easy to implement pay-per-view solution leveraging on a blockchain’s  utility token to facilitate automated compensation to all stakeholders once a content is purchased. This Token acquisition is made via vouchers/QR, which simplifies roll out. Other payment options to be assessed in the future. 
        </p>
    </div>
    <div class="card-wrapper" fxFlexFill fxFlex="30">
        <mat-card [routerLink]="['/videos/video-player', 1001]">
            <div mat-card-image class="image-wrapper">
                <img [src]="videos['1001'].previewImg" alt="video">
                <div class="play-button"></div>
            </div>
            <mat-card-subtitle>
                <span>{{videos['1001'].subtitle | uppercase}}</span>
            </mat-card-subtitle>
            <mat-card-title>
                <div Flex fxFlexFill fxLayout="row" fxLayoutAlign="space-between">
                    <span>{{videos['1001'].title}}</span>
                    <span>{{videos['1001'].amount!="0"?videos['1001'].amount + "$":"FREE"}}</span> 
                </div>   
            </mat-card-title>
        </mat-card>
    </div>
    <div class="card-wrapper" fxFlexFill fxFlex="30">
        <mat-card [routerLink]="['/videos/video-player', 1002]">
            <div mat-card-image class="image-wrapper">
                <img [src]="videos['1002'].previewImg" alt="video">
                <div class="play-button"></div>
            </div>
            <mat-card-subtitle>
                <span>{{videos['1002'].subtitle | uppercase}}</span>
            </mat-card-subtitle>
            <mat-card-title>
                <div Flex fxFlexFill fxLayout="row" fxLayoutAlign="space-between">
                    <span>{{videos['1002'].title}}</span> 
                    <span>{{(videos['1002'].amount!="0")?videos['1002'].amount + "$":"FREE"}}</span> 
                </div>                
            </mat-card-title>
        </mat-card>
    </div>
    <div class="card-wrapper" fxFlexFill fxFlex="30">
        <mat-card [routerLink]="['/videos/video-player', 1003]">
            <div mat-card-image class="image-wrapper">
                <img [src]="videos['1003'].previewImg" alt="video">
                <div class="play-button black-icon"></div>
            </div>
            <mat-card-subtitle>
                <span>{{videos['1003'].subtitle | uppercase}}</span>
            </mat-card-subtitle>
            <mat-card-title>
                <div Flex fxFlexFill fxLayout="row" fxLayoutAlign="space-between">
                    <span>{{videos['1003'].title}}</span>
                    <span>{{videos['1003'].amount!="0"?videos['1003'].amount + "$":"FREE"}}</span> 
                </div>   
            </mat-card-title>
        </mat-card>
    </div>
    <div class="card-wrapper" fxFlexFill fxFlex="30">
        <mat-card [routerLink]="['/videos/video-player', 1004]">
            <div mat-card-image class="image-wrapper">
                <img [src]="videos['1004'].previewImg" alt="video">
                <div class="play-button"></div>
            </div>
            
            <mat-card-subtitle>
                <span>{{videos['1004'].subtitle | uppercase}}</span>
            </mat-card-subtitle>
            <mat-card-title>
                <div Flex fxFlexFill fxLayout="row" fxLayoutAlign="space-between">
                    <span>{{videos['1004'].title}}</span>
                    <span>{{videos['1004'].amount!="0"?videos['1004'].amount + "$":"FREE"}}</span> 
                </div>   
            </mat-card-title>
        </mat-card>
    </div>
    <div class="card-wrapper" fxFlexFill fxFlex="30">
        <mat-card [routerLink]="['/videos/video-player', 1005]">
            <div mat-card-image class="image-wrapper">
                <img [src]="videos['1005'].previewImg" alt="video">
                <div class="play-button"></div>
            </div>
            
            <mat-card-subtitle>
                <span>{{videos['1005'].subtitle | uppercase}}</span>
            </mat-card-subtitle>
            <mat-card-title>
                <div Flex fxFlexFill fxLayout="row" fxLayoutAlign="space-between">
                    <span>{{videos['1005'].title}}</span>
                    <span>{{videos['1005'].amount!="0"?videos['1005'].amount + "$":"FREE"}}</span> 
                </div>   
            </mat-card-title>
        </mat-card>
    </div>
        
</div>