<h1 mat-dialog-title>{{ 'rpc_popup.change_rpc.title'| translate }}</h1>
<div mat-dialog-content >
  <p>{{ 'rpc_popup.change_rpc.message'| translate }}</p>
  <div>
    
    <mat-slide-toggle style="margin-bottom: 16px;" [(ngModel)]="httpsToggle" >
      {{ 'rpc_popup.change_rpc.https'| translate }}
    </mat-slide-toggle>

    <mat-form-field>
      <mat-label>{{ 'rpc_popup.change_rpc.host'| translate }}</mat-label>
      <input matInput cdkFocusInitial placeholder="{{ 'rpc_popup.change_rpc.host' | translate }}" [(ngModel)]="host" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'rpc_popup.change_rpc.path'| translate }}</mat-label>
      <input matInput cdkFocusInitial placeholder="{{ 'rpc_popup.change_rpc.path' | translate }}" [(ngModel)]="pathname">
    </mat-form-field>

    <div style="width: 100%;text-align: end; padding-right: 25px;text-decoration: underline;"> <a (click)="reset()">{{ 'common.default'| translate }}</a></div>
    
  </div>
  
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-button  (click)="onNoClick()">{{ 'common.cancel'| translate }}</button>
  <button mat-button  (click)="onYesClick()">{{ 'common.accept'| translate }}</button>
</div>
