<div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="icon">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="refreshDapp()">{{ 'dapp.options_shell.refresh_dapp' | translate }}</button>
        <button mat-menu-item *ngIf='dapp?.features?.burn' [disabled]='outOfCash' (click)='goToBurnCash()'>{{ 'dapp.options_shell.burn_cash' | translate }}</button>
        <button mat-menu-item (click)="goToHome()">{{ 'dapp.options_shell.change_instance' | translate }}</button>
        <div class="version">{{ version }}</div>
    </mat-menu>
</div>