<blo-dapp-credit-header [dapp]="dapp" [hideAddCash]="true" ></blo-dapp-credit-header>
<div class="has-dapp-credit-header" (click)="hideKeyboard($event)">
    <div class="send-cash-card" fxFlex fxLayout="column">

        <div *ngIf="dapp" class="send-cash-wrapper" [ngStyle]="{'background-image': 'url(' + dapp.laf.homeImage +')'}">
            <div class="dapp-logo" [ngStyle]="{'background-image': 'url(' + dapp.laf.logo +')'}"></div>
            <div  class="send-cash-image" ></div>
        </div>
        
        <form class="form-wrapper" [formGroup]="sendCashForm" fxLayout="column" fxLayoutAlign="start center" (ngSubmit)="onSubmit()">
            <mat-form-field color="primary" appearance="outline">
                <mat-label>{{ 'dapp.send_cash.to' | translate }}</mat-label>
                <input [readonly]="destinationAddress" matInput formControlName="address" placeholder="{{ 'dapp.send_cash.address' | translate }}">
                <div *ngIf="!destinationAddress" (click)="openQR($event)" matSuffix class="qr-icon"></div>
            </mat-form-field>

            <mat-form-field color="primary" appearance="outline">
                <mat-label>{{ 'dapp.send_cash.amount' | translate }}</mat-label>
                <input matInput formControlName="amount" pattern="{{pattern}}" type="number"  >
                <div matSuffix>{{ dapp?.features?.token | uppercase }}</div>
            </mat-form-field> 

            <button [disabled]="!sendCashForm.valid" type="submit" color="accent" mat-flat-button fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex>{{ 'dapp.profile.send_cash' | translate | uppercase }}</div>
            </button>
        </form>
    </div>
</div>
