<mat-card class="card">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex>
            <mat-card-title class="title">Distributor</mat-card-title>
            <mat-card-subtitle class="subtitle">123a456bc789z0</mat-card-subtitle>
        </div>
        <mat-icon>delete</mat-icon>
    </div>
    <div class="history-wrapper"></div>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-button>See all</button>
    </mat-card-actions>
</mat-card>