<div fxFlex class='has-dapp-credit-header'>
    <div class='dapp-notifications' fxFlex fxLayout='column' fxLayoutAlign='center center'>
        <div *ngIf='dapp?.news' class='notification-list'>
            <div *ngFor='let notification of dapp.news; let i = index; trackBy: customTB.bind(this)' (click)='goToNotificationDetail(i)'>
                <div class='notification-list-item' fxFlex fxLayout='row'>
                    <div class='notification-image' fxFlex='40' [ngStyle]="{'background-image': 'url(' + notification.img +')'}"></div>
                    <div class='notification-info' fxFlex fxLayout='column'>
                        {{ dapp.address + '.news.' + i + '.title' | translate }}
                    </div> 
                </div>
            </div>
        </div>
        <div class='no-notifications-content' *ngIf='!dapp?.news?.length' fxLayout='column' fxLayoutAlign='center'>
            <div class='no-notifications-image'></div>
            <div class='no-notifications-text'>{{ 'common.no_data' | translate | titlecase }}</div>
        </div>
    </div>
</div>

