<div class="loader" *ngIf="isLoading" fxFlex fxLayoutAlign="center center">
    <ng-lottie
        [options]="lottieConfig"
        width="300px"
        height="300px"
        (animationCreated)="handleAnimation($event)">
    </ng-lottie>
</div>
<div class="loader" *ngIf="isLoadingCamera" fxFlex fxLayoutAlign="center center">
    <ng-lottie
        [options]="lottieConfigCamera"
        width="300px"
        height="300px"
        (animationCreated)="handleAnimation($event)">
    </ng-lottie>
</div>