.dialog-title {
  margin: 0;
  text-align: center;
}
.dialog-logo {
  width: 10%;
  height: 5vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.text-dapp-name {
  padding-left: 15px;
}

.option-container {
  min-width: 250px;
}
