<blo-dapp-credit-header [dapp]="dapp" [addCash]="false"></blo-dapp-credit-header>
<div class="has-dapp-credit-header" (click)="hideKeyboard($event)">
    <div class="burn-cash-card" fxFlex fxLayout="column">

        <div *ngIf="dapp" class="burn-cash-wrapper" [ngStyle]="{'background-image': 'url(' + dapp.laf.homeImage +')'}">
            <div class="dapp-logo" [ngStyle]="{'background-image': 'url(' + dapp.laf.logo +')'}"></div>
            <div class="burn-cash-image"></div>
        </div>

        <form class="form-wrapper" [formGroup]="burnCashForm" fxLayout="column" fxLayoutAlign="start center"
            (ngSubmit)="onSubmit()">

            <mat-form-field color="primary" appearance="outline">
                <mat-label>{{ 'dapp.burn_cash.amount' | translate }}</mat-label>
                <input matInput formControlName="amount" pattern="^[0-9]{4,20}$" type="number">
                <div matSuffix>{{ 'dapp.send_cash.points' | translate | uppercase }}</div>
            </mat-form-field>

            <button [disabled]="!burnCashForm.valid" type="submit" color="accent" mat-flat-button fxLayout="row"
                fxLayoutAlign="center center">
                <div fxFlex>{{ 'dapp.burn_cash.burn_cash' | translate | uppercase }}</div>
            </button>

            <div class='recent-burns'>
                <mat-list *ngFor="let burn of burnsArray; first as isFirst;">
                    <mat-divider *ngIf="isFirst"></mat-divider>
                    <mat-list-item>
                        <div class="item-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                            <div>{{ burn.amount }}$</div>
                            <div>{{ burn.date | date: 'short' }}</div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    
                </mat-list>
                <button type="button" mat-button color='accent' (click)='moreBurns()' *ngIf='burnsArray.length && currentPageBurns > 1'>
                    {{ 'common.show_more' | translate | uppercase }}
                </button>
            </div>

        </form>


    </div>
</div>