
<mat-toolbar color='accent' class='mat-elevation-z8 dapp-credit-header' fxFlex fxLayout='row'
    fxLayoutAlign='space-between center'>
    <div fxLayout='row' fxLayoutAlign='start center' *ngIf='isLoading; else loaded'>
        <div>{{ 'dapp.credit_header.loading' | translate }}</div>
        <div class='balance-spinner'></div>
    </div>
    <ng-template #loaded>
        <div>{{ 'dapp.credit_header.points' | translate: {'balance': balance} }}</div>
    </ng-template>
    <button *ngIf='addCash' mat-icon-button (click)='addCreditScan()'>
        <mat-icon md-36>add_circle_outline</mat-icon>
    </button>
</mat-toolbar>
