@import "~scss/variables.scss";

.mat-toolbar.dapp-credit-header {
    position: fixed;
    height: $credit-header-height;
    font-size: $font-size-xl;
}

.balance-spinner {
    background-image: url("assets/balance-spinner.svg");
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    margin: 10px auto;
    margin-left: 10px;
  }
