<div class="dialog-wrapper" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="end">
    <mat-icon (click)="cancelDialog()">close</mat-icon>
  </div>
  <div fxFill fxLayout="column" fxLayoutAlign="space-around center">
    <div class="information-row " fxLayout="row" fxLayoutAlign="start">
      <img *ngIf="media.media" [src]="media.media?.img" alt="">
      <div fxLayout="column" fxLayoutAlign="center start">
        <div class="title">{{media.title}}</div>
        <div class="subtitle">{{media.subtitle | uppercase}}</div>
        <div class="description">{{media.description}}</div>
      </div>
    </div>
    <div class="actions-wrapper" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="100" class="qr-wrapper allow-qr" fxLayout="row" fxLayoutAlign="space-between">
        <div class="qr-box" ngxClipboard [cbContent]="qrAllowBuy" >
          <qrcode [qrdata]="qrAllowBuy" [size]="150" [level]="'Q'"></qrcode>
        </div>
        <div class="action-wrapper" fxFlex fxLayout="column" fxLayoutAlign="start center">
          <div class="buy-icon"[ngStyle]="{'background-image': 'url(' + data.iconBuy + ')'}">
            <div class="allow-icon" [ngStyle]="{'background-image': 'url(' + 'assets/searching.svg' + ')'}"></div>
          </div>
          <div class="action-text">{{data.textAllowBuy}}</div>
        </div>
      </div>
    </div>
  </div>
</div>