@import "~scss/variables.scss";

:host {
  color: black;
}

.dialog-wrapper {
  height: 100%;
 

  .information-row {
    margin-bottom: 32px;
    width: 100% !important;

    img {
      height: 200px;
      width: 200px;
      margin-right: 32px;
      object-fit: cover;
      object-position: left;
    }

    .title {
      font-size: $font-size-xxxl;
      margin-bottom: 5px;
      font-weight: bold;
      color: white;
    }

    .subtitle {
      font-size: $font-size-l;
      margin-bottom: 15px;
      color: grey;
    }

    .description {
        line-height: 1.8;
        color: white;
    }
  }

  .actions-wrapper {
    width: 100%;

    .action-wrapper {
      text-align: center;
      color: white;

      .action-text {
        padding: 16px;
      }
    }

    .qr-wrapper {
      border-radius: 10px;

      &.allow-qr {
        // background-color: #3F9C35;
        background: rgba(64,156,53,1);
        background: -moz-linear-gradient(left, rgba(64,156,53,1) 0%, rgba(64,156,53,1) 29%, rgba(73,129,201,1) 82%, rgba(73,129,201,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,156,53,1)), color-stop(29%, rgba(64,156,53,1)), color-stop(82%, rgba(73,129,201,1)), color-stop(100%, rgba(73,129,201,1)));
        background: -webkit-linear-gradient(left, rgba(64,156,53,1) 0%, rgba(64,156,53,1) 29%, rgba(73,129,201,1) 82%, rgba(73,129,201,1) 100%);
        background: -o-linear-gradient(left, rgba(64,156,53,1) 0%, rgba(64,156,53,1) 29%, rgba(73,129,201,1) 82%, rgba(73,129,201,1) 100%);
        background: -ms-linear-gradient(left, rgba(64,156,53,1) 0%, rgba(64,156,53,1) 29%, rgba(73,129,201,1) 82%, rgba(73,129,201,1) 100%);
        background: linear-gradient(to right, rgba(64,156,53,1) 0%, rgba(64,156,53,1) 29%, rgba(73,129,201,1) 82%, rgba(73,129,201,1) 100%);
      }

      &.buy-qr {
        background-color: #4980C9;
      }

      .qr-box {
        border-radius: 10px 0 0 10px;
        margin: 2px;
        padding: 24px;
        background-color: white;
      }

      .buy-icon {
        width: 30%;
        height: 30%;
        margin-top: 42px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .allow-icon {
        width: 100%;
        height: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
