@import "~scss/variables.scss";

:host {
  color: black;
}

.dialog-wrapper {
  height: 100%;
 

  .information-row {
    margin-bottom: 32px;
    width: 100% !important;

    img {
      height: 200px;
      width: 200px;
      margin-right: 32px;
      object-fit: cover;
      object-position: left;
    }

    .title {
      font-size: $font-size-xxxl;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .subtitle {
      font-size: $font-size-l;
      margin-bottom: 15px;
      color: grey;
    }

    .description {
        line-height: 1.8;
    }
  }

  .actions-wrapper {
    width: 100%;

    .action-wrapper {
      text-align: center;
      color: white;

      .action-text {
        padding: 16px;
      }
    }

    .qr-wrapper {
      border-radius: 10px;

      &.allow-qr {
        background-color: #3F9C35;
      }

      &.buy-qr {
        background-color: #4980C9;
      }

      .qr-box {
        border-radius: 10px 0 0 10px;
        margin: 2px;
        padding: 24px;
        background-color: white;
      }

      .allow-icon,
      .buy-icon {
        width: 30%;
        height: 30%;
        margin-top: 42px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
