<div fxFlex class='has-dapp-credit-header'>
    <div class='dapp-home' fxFlex fxLayout='column' fxLayoutAlign='start'>
        <div style='height: 32vh;'  >
        </div>
        <div class='new-content-card'  >
                    <div *ngIf='dapp' class='new-content-wrapper' fxLayout='row' fxLayoutAlign='center center'
                [ngStyle]="{'background-image': 'url(' + dapp.laf.homeImage +')'}">
                <div class='new-content-logo' [ngStyle]="{'background-image': 'url(' + dapp.laf.logo +')'}"></div>
                <div class='new-content-text'>{{ dapp?.address + '.home.title' | translate }}</div>
            </div>
            <mat-card-actions class='new-content-actions' fxLayoutAlign='space-between center'>
                <mat-card-subtitle class='recent-activity-title'>
                    {{ 'dapp.home.recent_activity' | translate | uppercase }}</mat-card-subtitle>
                <button class='qrbutton' color='accent' mat-flat-button fxLayout='row' fxLayoutAlign='center center'
                    (click)='buyOrAllow()'>
                    <div class='qr-icon'></div>
                </button>
            </mat-card-actions>
        </div>

        <div class="recent-activity-card">
            <div class='loader-recent-activity-card' fxLayout='row' fxLayoutAlign='center center' *ngIf='isLoading$ | async; else loaded' >
                <mat-progress-spinner style="margin: 0 10px;"               
                color="primary"
                mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <ng-template #loaded>
                <mat-card class='recent-activity-card' *ngIf='txActivityArray.length'>
                    <mat-card-content class='recent-activity-content'>
                        <mat-list >
                            <mat-divider></mat-divider>
                            <mat-list-item *ngFor='let txActivity of txActivityArray;'>
                                <div fxFlex fxLayout='column'>
                                    <div class='activity-title'>{{ 'common.' + txActivity.txName | translate }}</div>
                                    <div fxLayout='row' fxLayoutAlign='space-between end'>
                                        <div class='activity-date'>{{ txActivity.epoch | date: 'medium' }}</div>
                                        <div class='activity-points'>{{ txActivity.amount | applyDecimals : dapp?.features?.decimals }} {{ dapp?.features?.token }}</div>
                                    </div>
                                </div>
                            </mat-list-item>
                            <mat-list-item *ngIf='txActivityArray.length && txActivityArray.length === currentPage * 10' >
                                <div fxFlex fxLayout='column' fxLayoutAlign='center center' class='recent-activity-actions' >
                                    <button mat-button color='primary'
                                        (click)='clickMoreActivity()'>{{ 'common.show_more' | translate | uppercase }}</button>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
                <div class='no-data-content' *ngIf='!txActivityArray.length' fxLayout='column' fxLayoutAlign='center'>
                    <mat-icon class="no-data-image" color="white" svgIcon="movements-no-data"></mat-icon>
                    <div class='no-data-text'>{{ 'common.no_data' | translate | titlecase }}</div>
                </div>
            </ng-template>
        </div>
    </div>
</div>