@import "~scss/variables.scss";

.has-dapp-credit-header {
  .dapp-home {
    padding-top: $credit-header-height;
  }
}

::ng-deep div[class$="theme-light"] {
  blo-dapp-home {
    .new-content-text {
      text-shadow: 1px 1px white;
    }
  }
}

::ng-deep div[class$="theme-dark"] {
  blo-dapp-home {
    .new-content-text {
      text-shadow: 1px 1px black;
    }
    .new-content-card {
      background-color: #303030;
    }
  }
}

.dapp-home {
  .new-content-card,
  .recent-activity-card {
    width: 100%;
    border-radius: 0;
    .loader-recent-activity-card{
      margin-top: 20%;
    }
  }

  .new-content-card {
    position: fixed;
    z-index: 1;
    padding: 0 0 16px;
    .qr-icon {
      background-image: url("assets/icons/ic_social_qr_code.svg");
    }
  }


  .new-content-card {
    .new-content-wrapper {
      height: 25vh;
      min-height: 35vw;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 16px;
      .new-content-logo {
        height: 30vw;
        width: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

      }
      .new-content-text {
        width: 50%;
        font-size: 10vw;
        text-align: center;
        word-break: break-word;
        overflow: hidden;
        max-height: 35vw;
      }
    }

    mat-card-content.recent-activity-content {
      margin-top: 8px;
    }

    mat-card-actions.new-content-actions {
      margin: 8px 4px 0;
      mat-card-subtitle.recent-activity-title {
        margin: 0px 0px 0px 16px;
      }
      button.qrbutton{
        height: 115px;
        width: 115px;
        position: fixed;
        right: 10px;
        border-radius: 60px;
        margin: 0px;
        padding: 0px;
        box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.6);  
      }
    }

    mat-card-actions.recent-activity-actions {
      padding: 0 0 8px;
    }

    mat-card-actions.new-content-actions,
    mat-card-actions.recent-activity-actions {

      button {
        margin: 0 8px;

        .qr-icon {
          width: 70px;
          height: 70px;
          margin: auto;
        }

        .button-text {
          margin-left: 8px;
        }
      }
    }
  }

  .recent-activity-card {
    padding-top: 0px;
    .mat-divider.mat-divider.mat-divider-horizontal {
      display: none;
    }
    .recent-activity-content {
      .mat-list-item {
        height: auto;
        padding: 16px 0;
      }

      .activity-title {
        max-width: 75%;
        font-size: $font-size-l;
        font-weight: $font-bold;
      }

      .activity-date {
        font-size: $font-size-s;
      }

      .activity-points {
        font-size: $font-size-l;
      }
    }
  }
}

.no-data-content {
  margin: 16px;
  padding-top: 16px;
  height: 100%;
  
  .no-data-image {
    width: 100%;
    height: 20vh;
    min-height: 20vw;
  }

  .no-data-text {
    margin-top: 16px;
    text-align: center;
  }
}

