<div fxFlex fxFlexFill fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxFlex="30" class="title-wrapper">
        <h1>Smart Office</h1>
        <h3>BLOOMEN BLOCKCHAIN ENABLES ACCESS TRACKING TO ORGANIZATION FACILITIES AND RESOURCES AND ALLOWS THEIR USE OR COMSUMPTION THROUGH BLOOMEN TOKENS. </h3>
        <p>The Digital Workplace is more and more leveraging on the power of IoT technology to become smarter to make the life of employees more efficient, productive and easier. Traceability on the use of resources can better adjust the performance to the actual demand and the use of utility tokens will enhance and prioritize the process to access these resources. Employees can gain tokens through gamification and alternative salary compensations.
        </p>
    </div>
    <div class="card-wrapper" fxFlex="30">
        <mat-card [routerLink]="['/smart-office/smart-office-exchange', 3001]">
            <div mat-card-image>
                <img [src]="smartOfficeServices['3001'].previewImg">
            </div>
                
            <mat-card-subtitle>
                <span>{{smartOfficeServices['3001'].subtitle | uppercase}}</span>
            </mat-card-subtitle>
            <mat-card-title>
                <span>{{smartOfficeServices['3001'].title}}</span>
            </mat-card-title>
        </mat-card>
    </div>
    <div class="card-wrapper" fxFlex="30">
        <mat-card [routerLink]="['/smart-office/smart-office-exchange', 3002]">
            <div mat-card-image>
                <img [src]="smartOfficeServices['3002'].previewImg">
            </div>
                
            <mat-card-subtitle>
                <span>{{smartOfficeServices['3002'].subtitle | uppercase}}</span>
            </mat-card-subtitle>
            <mat-card-title>
                <span>{{smartOfficeServices['3002'].title}}</span>
            </mat-card-title>
        </mat-card>
    </div>
    <div class="card-wrapper" fxFlex="30">
        <mat-card [routerLink]="['/smart-office/smart-office-exchange', 3003]">
            <div mat-card-image>
                <img [src]="smartOfficeServices['3003'].previewImg">
            </div>
                
            <mat-card-subtitle>
                <span>{{smartOfficeServices['3003'].subtitle | uppercase}}</span>
            </mat-card-subtitle>
            <mat-card-title>
                <span>{{smartOfficeServices['3003'].title}}</span>
            </mat-card-title>
        </mat-card>
    </div>
    <div class="card-wrapper" fxFlex="30" >
    </div>
    <div class="card-wrapper" fxFlex="30">
    </div>
</div>